<h1>New Tweet</h1>

<%= form_with(model: @tweet, local: true) do |form| %>
  <%= form.text_area :content, placeholder: 'Write your tweet here...', class: 'form-control' %>
  <%= form.collection_select :group_id, Group.all, :id, :name, { include_blank: 'No Group' }, class: 'form-control' %>
  <%= form.submit 'Create Tweet', class: 'btn btn-primary mt-2' %>
<% end %>
